.main-container{
    display: flex;
    justify-content: center;
}

.cuadrito{
    //display: none;//mientras tanto
    background-color: black;
    width: 200px;
    height: 200px;
    transform: translate(3000px, 3000px);
}